{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
	<ul class="list-inline">
	     {% for date in availableDates %}
		<li class="list-inline-item">
		    <a href="{{ path('forex', {'page': forexRates.page, 'date': date}) }}">{{ date|date('d.m.Y') }}</a>
		</li>
	     {% endfor %}
	     </ul>

	<table class="table table-lg">
	    <thead>
		<tr>
		    <th scope="col">Currency</th>
		    <th scope="col" class="text-right">Rate</th>
		</tr>
	    </thead>
	    <tbody>
		{% for rate in forexRates %}
		    <tr>
			<th>{{ rate.currency }}</th>
			<th class="text-right">{{ rate.rate|number_format(4, '.', ',') }}</th>
		    </tr>
		{% endfor %}
	    </tbody>
	</table>
	{{ knp_pagination_render(forexRates) }}
    </div>
{% endblock %}
